@font-face{
  font-family: "secret-of-mana";
  src: url("../assets/fonts/manaspace/manaspc.ttf");
}

@font-face{
  font-family: "roberto";
  src: url("../assets/fonts/rubber-biscuit/RUBBBB__.TTF");
}

body {
  background-color: rgb(25,25,25);
}

canvas {
  background: transparent;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: opacity 4s ease-in-out;
    -webkit-transition: opacity 4s ease-in-out;
    -moz-transition: opacity 4s ease-in-out;
    -o-transition: opacity 4s ease-in-out;
}

canvas.clear {
  opacity: 0;
}

.wrapper {
  background-image: url("../assets/backgrounds/pixel-art-waterfalls-night.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
  border-radius: 5px;
  height: 400px;
  width: 800px;
  position: relative;
}



.cycle {
  background-image: url("../assets/backgrounds/pixel-art-waterfalls.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}

.cycle.night {
  opacity: 0;
}

.end {
  background: black;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}

.end.true {
  opacity: 1;
}


div.ff7{
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-300px);
  width: 500px;
  padding: 5px 10px;
  margin: 50px 50px;
}
div.ff7 *{
  color: #eff1ff;
  text-shadow: 2px 2px #212421,
               1px 1px #212021;
  font-family: secret-of-mana;
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
}

p{
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 3s steps(60, end);
}

p:nth-child(2){
  animation: type2 5s steps(60, end);
}

p.pre-animation {
  display: none;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

.overlay {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  font-family: roberto;
  font-size: 24px;
}

.instructions {
  font-size: 16px;
  margin-bottom: 100px;
}

.title {
  font-size: 36px;
  margin-top: -50px;
  margin-bottom: 100px;
  text-shadow: 2px 2px #212421,
               1px 1px #212021;
}

.overlay.closed {
  display: none;
}

#start:hover {
  cursor: pointer;
}

.credit {
  text-align: center;
  font-size: 16px;
  margin-left: 50%;
  transform: translateX(-50%);
}

a {
  display: block;
  font-size: 16px;
  text-align: center;
}
