body {
  background-color: grey;
}

canvas {
  background-image: url("../assets/backgrounds/pixel-art-waterfalls.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 400px;
  margin-top: 100px;
}
